*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

/* GENERALITES (POLICES ET COULEUR) */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--black);
  color: var(--white);
  margin-top: 100px;
}

@media (min-width: 768px) {
  body {font-size: var(--pc--body);}
  h1 {font-size: var(--pc--header1);}
  h2 {font-size: var(--pc--header2);}
  h3 {font-size: var(--pc--header3);}
}
/*
@media (max-width: 768px) {
  body {font-size: var(--tab--body);}
  h1 {font-size: var(--tab--h1);}
  h2 {font-size: var(--tab--h2);}
  h3 {font-size: var(--tab--h3);}
}

@media (max-width: 400px) {
  body {font-size: var(--tel--body);}
  h1 {font-size: var(--tel--header1);}
  h2 {font-size: var(--tel--header2);}
  h3 {font-size: var(--tel--header3);}
}

*/
















  /*les listes à puce avec cette classe n'ont plus de puces*/
  .listUnstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* le bouton HTML par défaut n'apparaît pas*/
button {
    appearance: none;
    border: none;
    background: none;
    padding: 20px;
    cursor: pointer;
}

/* bug scroll iOS réglé*/
.noscroll,
.noscroll body {
  overflow: hidden;
}
