*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GENERALITES (POLICES ET COULEUR) */
html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--pc--body);
    margin-top: 100px;
}

.index__body {
    background-image: url(../../../assets/img/space_bg.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 50% auto;
}
h1 {
    font-size: var(--pc--header1);
}

h2 {
    font-size: var(--pc--header2);
}

h3 {
    font-size: var(--pc--header3);
}
