:root{
/* Color styles */
--black: rgba(0, 0, 0, 1);
--purple: rgba(165, 166, 246, 1);
--blue: rgba(89, 87, 203, 1);
--red: rgba(255, 53, 53, 1);
--grey: rgba(26, 25, 25, 1);
--white: rgba(255, 255, 255, 1);
--clear--grey: rgba(66, 66, 71, 1);

/* Text-size styles : ordinateur */

--pc--game-heading: 4rem;
--pc--header1: 4.8rem;
--pc--header2: 2.4rem;
--pc--header3: 1.44rem;
--pc--header4: 1.05rem;
--pc--body: 0.95rem;
--pc--legende: 0.6rem;
--p-c--button: 0.96rem;

/* Text-size styles : téléphone */
--tel--header1: 0.96rem;
--tel--header2: 0.68rem;
--tel--header3: 0.48rem;
--tel--body: 0.3rem;
--tel--legende: 0.22rem;

/* Text-size styles : tablette */
--tab--h2: 1.36rem;
--tab--h1: 2.2rem;
--tab--h3: 0.72rem;
--tab--body: 0.56rem;
--tab-légende: 0.36rem;
}