footer {
    background-color: var(--grey);
    padding: 3%;
}

/*partie haute du footer*/

    .footer__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }

    /*logo arquest du footer*/

    .footer__top__img {
        min-width: 50px;
        max-width: 300px;
    }

    .footer__top-end {
        display: flex;
        flex-direction: column;
    }

    .footer__top__layout-link-div {
        display: flex;
        justify-content: end;
        margin-top: 5%;
    }


    .footer__socialmedia {
        display: flex;
        justify-content: end;
        gap: 5vh;
    }
    
    .footer__socialmedia__link {
        width: 5vh;
        height: 5vh;
        }








/*partie basse du footer : mentions et copyright*/

    .footer__bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    /*MENTIONS A GAUCHE : MMI */
    .footer__bottom__mention-line {
        font-weight: 100;
        text-align: left;
        font-style: italic;
        margin: 0%;
        padding: 1% 35% 1% 3%;
    }

    .footer__bottom__mention-div {
        display: flex;
        flex-direction: row;
    }
    .layout__link-img {
        width: 15vh;
    }
    .footer__mmi-link {
        text-decoration: none;
        font-size: auto;
        font-weight: 300;
        color: var(--white);
    }


    /*COPYRIGHT A DROITE */
    .footer__bottom__copyright-div {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
    }

    .footer__bottom__copyright {
        font-weight: 100;
        text-align: right;
        margin: 0%;
    }


    @media (max-width: 800px) {

        .footer__bottom__mention-line{
            padding-right: 0%;
        }
        .layout__link-img {
            width: 100px;
        }
    }
    
    @media (max-width: 800px) {

        .footer__top {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            align-items: center;
        }

        .footer__top-start, .footer__top-end {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .footer__top__img {
            width: 200px;
        }


        .footer__mid {
            text-align: center;
        }

        .footer__bottom {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            padding-top: 10%;
        }

        .footer__bottom__mention-div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .layout__link-img {
            width: 50px;
        }
        .footer__bottom__mention-line {
            text-align: center;
        }
    }