

.circles_decorations {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -2;
    opacity: 50%;
    margin-top: -20%;
    margin-left: 20%;

    width: 80%;

    max-width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    margin: 4%;
}

.hero__heading1 {
    font-size: var(--pc--header2);
    font-weight: bold;
}

.hero__heading2 {
    margin-top: -1.8%;
    font-size: var(--pc--game-heading);
    font-family: 'Press Start 2P', sans-serif;
    font-weight: normal;

    text-shadow: 0.1em 0em 0em var(--red),
    0.1em 0.1em 0em var(--blue);
}

.hero__heading3, .hero__text {
    margin-top: -0.5%;
}


.hero__button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.hero__button {
    padding: 16px 50px 15px 50px;
    margin: 1%;
    background-color: var(--blue);
    border-radius: 10px;
    
    color: var(--white);
    font-size: var(--pc--header3);
    text-transform: uppercase;
    letter-spacing: 1.15px;
    text-decoration: none;
    font-weight: bold;
}

.header__link:hover {
    color: rgb(129, 129, 129);
    transition: color 200ms ease-in-out;

}
.hero__button:hover, .header__link-button:hover  {
    color: var(--white);
    background-color: rgb(8, 8, 121);
    transition: background-color 200ms ease-in-out;
}

.hero__note {
    text-align: center;
    font-weight: 100;
}








/* FONCTIONNALITES*/

.main_function--main-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,300px)); 
    grid-gap: 30px;

    margin-top: 6%;
    justify-content: center;
}


.main_function-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--blue);
    border-radius: 20px;
    padding: 10%;

    height: 400px;
}

.main_function__image {
    width: 30%;
    margin: 5%;
}

.main_function__heading {
    margin-top: 1%;
    text-transform: uppercase;
}

.main_function__text {
    font-weight: 300;
}

.main_function__text strong {
    font-weight: 900;
}

.main_function__ast {
    margin-top: -5%;
    font-style: italic;
    font-size: var(--pc--legende);

    /*
    grid-column: 3/4;
    grid-row: 2/3;
    */
}







/*TARIFS*/

/*la boîte contenant toute la partie tarif*/
.tarif-div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -7%;
}

/*le texte de la prmeière colonne (titres)*/
.tarif__row__heading {
    padding: 2%;
    font-weight: normal;
}

/*noms des lignes*/

.tarif__row__name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--pc--header3);
}
/*intérieur du tableau : symboles*/
.tarif__symbol {
    width: 30px;
}

.tarif__symbol__td {
    display: flex;
    justify-content: center;
    padding: 5%;
}

/*style  des colonnes*/

.tarif__row2 {
    border: 20px solid var(--blue);
}

.tarif__row3 {
    border: 20px solid var(--purple);
}









/*Franche Comté*/

.franche_comte-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 10%;
}

.franche_comte__line {
    text-align: center;
    
}