.body__homepage {
    background-image: url(../../../assets/img/space_bg.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 50% auto;
}

.homepage__margin {
    margin-left: -1%;
}

/*HERO*/

    .circles_decorations__hero {
        top: 0;
        left: 0;
        position: absolute;
        z-index: -2;
        opacity: 50%;
        margin-top: -20%;
        margin-left: 20%;

        width: 80%;

        max-width: 100%;
    }

    .hero {
        display: flex;
        flex-direction: column;
        margin: -2% 4% 4% 4%;
    }
    


    .hero__heading1 {
        font-weight: bold;
    }

    .hero__heading2 {
        margin-top: -1.8%;
        margin-left: 3%;
        font-family: 'Press Start 2P', sans-serif;
        font-weight: normal;
        font-size: var(--pc--game-heading);

        text-shadow: 0.1em 0em 0em var(--red),
        0.1em 0.1em 0em var(--blue);
    }

    .hero__introduction {
        margin-left: 3%;
    }

    .hero__heading3, .hero__text {
        margin-top: -0.5%;
    }

    .hero__note {
        text-align: center;
        font-weight: 100;
    }








/* FONCTIONNALITES*/

.main_function--main-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,300px)); 
    grid-gap: 30px;
    justify-content: center;

    margin-top: 6%;

}

.main_function-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--blue);
    border-radius: 20px;
    padding: 10%;

    height: 400px;
}

.main_function__image {
    width: 100px;
    margin: 5%;
}

.main_function__description-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main_function__heading {
    margin-top: 1%;
    text-transform: uppercase;
}

.main_function__text {
    font-weight: 300;
}

.main_function__text strong {
    font-weight: 900;
}

.main_function__ast-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}
.main_function__ast {
    font-style: italic;
    font-size: var(--pc--legende);
}


@media (max-width: 800px) {
    .main_function--main-div {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(1fr);
        grid-gap: 0px;
        margin-top: -0%;
    }

    .main_function-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        border-top: 5px solid var(--blue);
        border-radius: 0px;
        padding: 5%;

        height: 300px;
    }

    .main_function__description-div {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .main_function-div-mobile {
        border-bottom: 5px solid var(--blue);
    }
}










/*TARIFS*/

    /*la boîte contenant toute la partie tarif*/
    .tarif-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

        margin-top: -7%;
        max-width: 95%;
        margin-left: 2%;
    }

    /*le texte de la prmeière colonne (titres)*/
    .tarif__row__heading {
        padding: 0% 1% 0% 1%;
        font-weight: normal;
        text-align: center;
    }

    /*noms des lignes*/

    .tarif__row__name2, .tarif__row__name3 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        padding-top: 14.5px;
        padding-bottom: 10px;
        padding-left: 10px;

        color: var(--white);
        font-size: var(--pc--header3);

    }
    .tarif__row__name2 {
        font-weight: 100;
        font-size: var(--pc--header3);

        border: 3px solid var(--purple);
        border-right: 0px none;

        border-radius: 25px 0px 0px 0px;
    }

    .tarif__row__name3 {
        font-weight: normal;

        border: 3px solid var(--blue);
        border-right: 0px none;
    }


    /*intérieur du tableau : symboles*/
    .tarif__symbol {
        width: 30px;
        height: 30px;
    }

    .table-style-2, .table-style-3, .table-end2, .table-end3 {
        display: flex;
        justify-content: center;
    }

    /*style  des colonnes*/

    .table-style-2, .table-end2 {
        padding-top: 10px;
        padding-bottom: 10px;

        margin-left: -5px;
        margin-right: -5px;

        border-top: 3px solid var(--purple);
        border-bottom: 3px solid var(--purple);
    }

    .table-end2 {
        border-right: 3px solid var(--purple);
    }

    .table-style-3, .table-end3 {
        padding-top: 10px;
        padding-bottom: 10px;

        margin-left: -5px;
        margin-right: -5px;

        border-top: 3px solid var(--blue);
        border-bottom: 3px solid var(--blue);
    }

    .table-end3 {
        border-right: 3px solid var(--blue);
        border-radius: 0px 0px 25px 0px;
    }

    .tarif__ast{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 100;
    }

    .table-end {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding-top: 16.5px;
        padding-bottom: 16px;
    }

    /*MOBILE DESACTIVE EN DESKTOP*/
    .tarif__mobile {
        display: none;
    }


    /*TARIFS MOBILE VERSION*/

    @media (max-width: 1200px) {
        .tarif__tableau {display: none;}
        .tarif__mobile {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .tarif__mobile__column1, 
        .tarif__mobile__column2, 
        .tarif__mobile__column3 {
            margin: 5%;
            display: grid;
            grid-template-rows: 60px;
        }

        .tarif-start2 {
            border-top: 2px solid var(--purple);
            border-radius: 30px 0% 0% 0%;}
        .tarif-start3 {
            border-top: 3px solid var(--blue);}


        .table__mobile__style2 {
            border-left: 2px solid var(--purple);
            border-right: 2px solid var(--purple);}
        .table__mobile__style3 {
            border-left: 3px solid var(--blue);
            border-right: 3px solid var(--blue); }

        .table__mobile__end2 {
            border-left: 2px solid var(--purple);
            border-right: 2px solid var(--purple);
            border-bottom: 2px solid var(--purple);
        }
        .table__mobile__end3 {
            border-left: 2px solid var(--blue);
            border-right: 2px solid var(--blue);
            border-bottom: 2px solid var(--blue);
            border-radius: 0px 0px 25px 0px;
        }


        .tarif__mobile__headings {text-align: center;}

        .table__mobile__heading2, .table__mobile__heading3,
        .table__mobile__style2, .table__mobile__style3,
        .tarif-end, .tarif__mobile__headings {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 2%;
        }
        .tarif__arquest-logo {width: 35px;}
        .tarif__arquest-logo-plus{padding-bottom: 20px;}
    }








/*Franche Comté*/

.franche_comte-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 10%;
    padding-bottom: 2%;
}

.franche_comte__line {
    text-align: center;
    font-weight: normal;
    font-size: var(--pc--body);
}

.franche_comte__img {
    width: 30px;
}

@media (max-width: 800px) {

    .franche_comte-div {
        padding-top: 20%;
    }
}