.soutenir__button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.soutenir__button {
    padding: 16px 50px 15px 50px;
    margin: 1%;
    background-color: var(--blue);
    border-radius: 10px;
    
    color: var(--white);
    font-size: var(--pc--header3);
    text-transform: uppercase;
    letter-spacing: 1.15px;
    text-decoration: none;
    font-weight: bold;
}

/*bouton du header et du footer*/

.layout__link-button {
    padding: 6% 15% 6% 15%;
    background-color: var(--blue);
    border-radius: 5px;
}